//Variables


//Text Colors
$red: #fe5862;
$black: #0f2c32;
$light-black: #526164;
$grey: #959796;
$light-grey: #aab2b4;
$light-dark-grey: #596d6c;
$quote-color: #233d3a;


//Structure Colors


//*****Input******
$input-height: 32px;


//*****Button*****
$main-button-height: 32px;
$mobile-button-height: 50px;


//Buttons Colors




