//Variables


//Text Colors
$red: #ee6e6b;
$black: #214248;
$light-black: #174348;
$white: #ffffff;
$off-white: #f9f8f7;

$grey: #959796;
$light-grey: #aab2b4;
$light-dark-grey: #596d6c;
$quote-color: #233d3a;


//Structure Colors


//*****Input******
$input-height: 50px;


//*****Button*****
$main-button-height: 50px;
$mobile-button-height: 50px;
$button-fontsize: 18px;

//Buttons Colors




